
main{
  margin-top: 90px;
}

.NoDisplay{
  display: none;
}

.Setting main{
  background-color: #fff;
}

/* 科目登録・科目削除ボタン */
.Setting .TimeTable .TimeTable_data{
  text-align: center;
  position: relative;
}
.Setting_Btn{
  display: block;
  width: 80px;
  padding: 3px 0;
  font-size: 0.8em;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%,0);
  background-color: #fff;
  border-radius: 3px;
}

.AddSubject_Btn{
  border: #055e99 solid 1px;
  color: #055e99;
}

.RemoveSubject_Btn{
  border: tomato solid 1px;
  color: tomato;
}

.No_Subject_Cell{
  background-color: #DDD;
}


/* 科目選択画面 */
#SelectSubjectWindow, #NewSubjectRegistration_Window{
  width: 75%;
  height: 75%;
  max-height: 600px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border:#386768 2px solid;
  padding: 30px;
  margin-top: 40px;
}

.Delete_Window_btn{
  background-color: #fff;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  position: absolute;
  top: 20px;
  left: 20px;
}

.dli-close {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  width: 2em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  transform: rotate(45deg);
}

.dli-close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.SelectSubjectWindow_SubjectLists{
  text-align: left;
  padding: 10px 15%;
  font-size: 1.5em;
  height: 70%;
  overflow-y: scroll;
  margin-bottom: 10px;
}


.SelectSubjectWindow_SubjectLists::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.SelectSubjectWindow_SubjectLists::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}

.SelectSubjectWindow_SubjectLists::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #1959A8;
}

.SelectSubjectWindow_SubjectLists li{
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #B4C7E7;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.radio-label, .radio-label-text{
  display: block;
}
.radio-label-text{
  padding-left: 20px;
}

.TheSubjectTeacher_In_TheSubjects{
  font-size: 0.8em;
}

.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  margin-right: 1em;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: #3197EE;
  background-color: #000;
  background-color: #777;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

.NoTheSubjects_message{
  padding: 10px;
  font-size: 1.5em;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.Setting .btn{
  display: block;
  margin: 0 auto;
  background-color: #fff;
  padding: 5px 10px;
  border: 2px solid #2F528F;
  border-radius: 8px;
}


.Setting .SubjectRegistration_btn{
  margin-bottom: 10px;
}

/* 新規科目登録画面 */
.NewSubjectRegistration_Window{
  position: relative;
  background-color: #3197EE;
}

.NewSubjectRegistration_form{
  padding: 10px 15%;
  font-size: 1.5em;
  height: 70%;
  margin-bottom: 10px;
}

.NewSubjectRegistration_Window .NewSubjectRegistration_btn{
  position: absolute;
  bottom: 20px;
}

.Add_NewSubjectRegistration_Data_btn, .Remove_NewSubjectRegistration_Data_btn{
  width: 3em;
  height: 3em;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 15px;
}
.Remove_NewSubjectRegistration_Data_btn{
  margin-left: 10px;
}


.plus.icon {
  color: #000;
  position: absolute;
  margin-left: -0.6em;
}

.plus.icon:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
}

.plus.icon:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.minus.icon {
  color: #000;
  position: absolute;
  width: 15px;
  height: 1px;
  margin-left: -0.6em;
  background-color: currentColor;
}


@media screen and (min-width: 480px) {
  .Delete_Window_btn:hover{
    background: #FFC000;
  }
  .AddSubject_Btn:hover{
    background-color: #055e99;
    color: #fff;
  }
  .RemoveSubject_Btn:hover{
    background-color: tomato;
    color: #fff;
  }
  .Setting .btn:hover{
    background-color: #2F528F;
    color: #fff;
  }
  .Add_NewSubjectRegistration_Data_btn:hover{
    background-color: turquoise;
  }
  .Remove_NewSubjectRegistration_Data_btn:hover{
    background-color: tomato;
  }
}


@media screen and (max-width: 480px) {
  #SelectSubjectWindow, #NewSubjectRegistration_Window{
    padding-top: 0;
    width: 75%;
    max-height: 600px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border:#386768 2px solid;
    padding: 30px;
  }
  .SelectSubjectWindow_SubjectLists{
    margin-top: 0;
    height: 65%;
  }
  .SelectSubjectWindow_SubjectLists li{
    width: 200px;
  }

  .radio-label{
    width: 200px;
  }
  .SelectSubjectWindow_SubjectLists li p{
    width: 150px;
    margin-top: 0;
  }
  .Delete_Window_btn{
    margin-top: 30px;
    margin-left: -10px;
    background-color: #fff;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .TheSubjectName_In_TheSubjects{
    font-size: 80%
  }
}
